.Ds_Store
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

config.js
.cov
coverage
node_modules
bower_components
npm-debug.log
.naeindex
coverage.html
.monitor

dist/
*.min.*.js
*.min.*.css
assets.json

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log
*.csv
*.dat
*.out

.idea/
public/upload/*
*.iml

*.sublime-project
*.sublime-workspace
*.swp

target/
log/

.classpath
.project
.settings/
build/

